<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>spotlightproduct</name>
    <displayName><![CDATA[Technical announcement]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Display a warning in the very top part of your shop about the next scheduled maintenance.]]></description>
    <author><![CDATA[Jeremy Dobberman]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>
